body {
    background-color: #171313;
}


p {
    font-size: 20px;
    color: #795548;
}

.score {
    font-size: 300px;
    margin-top: 40px;
    margin-bottom: -40px;
}

.score-label {
    margin-top: 20px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}
